@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-color: rgb(116, 85, 121);
    font-family: 'Roboto' , sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    overflow: hidden;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: beige;
    border-radius: 15px;
    box-shadow: 0 10px 20px;
    padding: 50px 20px;
    text-align: center;
    max-width: 100%;
    width: 800px;
}

h3 {
    margin: 0;
    opacity: .40;
    letter-spacing: 2px;
    color: black;
}





.joke {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 500px;
}

.btn {
    background-color:rgb(229, 196, 211);
    color: #fff;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px;
    padding: 15px 40px;
    font-size: 20px;
    cursor: pointer;
}

.btn:focus {
    outline: 0;

}

.btn:active {
    transform: scale(0.95);
}